@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import 'tailwindcss';

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

:root {
  --animation-marquee: marquee 7s linear infinite;
  --font-rubik: 'Rubik', sans-serif;
}

@layer base {
  body {
    font-family: var(--font-rubik);
  }
}
body {
  overflow-x: hidden;
}